<%- include('../common/header') -%>
<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-speech"></i>
                </a>
                <a class="btn" href="./">
                    <i class="icon-graph"></i>  Dashboard
                </a>
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  Settings
                </a>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">   
            <%- include('../common/flash') -%>        
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5 mb-2">
                            <h4 class="card-title mb-0"><%- title %></h4>
                        </div>
                        <!-- /.col-->
                        <div class="col-sm-7 d-none d-md-block">
                            <a href="/admin/type/create" class="btn btn-primary float-right btn-sm" title="Add New type" data-toggle="tooltip">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>                            
                        </div>
                        <!-- /.col-->                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-responsive-sm table-hover table-outline mb-0">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Permissoin</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(types){ %>  
                                    <% types.forEach((type)=>{ %>
                                    <tr>                                        
                                        <td><%= type.name %> </td>
                                        <td>
                                        <%
                                        let permission = JSON.parse(type.permission);
                                        for(var key in permissions){
                                            var status = 'btn-danger';
                                            if(permission.includes(permissions[key])){      
                                                status = 'btn-success'
                                            }
                                        %>
                                        <label class="btn <%-status-%> btn-sm text-capitalize "><%-permissions[key]-%></label>
                                        <%
                                        }
                                        %>

                                        </td>
                                        <td>
                                            <a href="/admin/type/view/<%= type.id %>" class="btn btn-sm btn-info" data-toggle="tooltip" title="Type Details">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                            <a href="/admin/type/edit/<%= type.id %>" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Edit Type">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <form action="/admin/type/delete" method="POST" class="d-inline delete-form">
                                            <input type="hidden" name="id" value="<%- type.id %>">
                                            <button class="btn btn-sm btn-danger delete-confirm" title="Delete Type" data-toggle="tooltip">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                            </form>
                                        </td>
                                    </tr> 
                                    <% }) %>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.row-->
                    <!-- <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                        <canvas class="chart" id="main-chart" height="300"></canvas>
                    </div> -->
                </div>
                
            </div>
            <!-- /.card-->
        </div>
    </div>
</main>
<%- include('../common/footer') -%>